# ignore everything
/*

# except these folders and files for the workspace
!/.github
!/api
!/components
!/hooks
!/pages
!/test
!/typings
!/utils

# files
.eslintrc.js
.prettierrc.js
.stylelintrc.js
jest.config.js
!next-env.d.ts
!next.config.js
!package.json
!README.md
# !tailwind.config.js
!tsconfig.json
